.pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.pagination__nav.btn {
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: none;
}

.pagination__nav.btn:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

.pagination__nav.btn:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}
