.Pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.PageSize {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.PageSize select {
  border: 0;
  width: auto;
  padding: 0;
  background-color: transparent;
  color: currentColor;
}

.Nav {
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: none;
}

.Nav:first-child {
  border-radius: 1rem 0 0 1rem;
}

.Nav:last-child {
  border-radius: 0 1rem 1rem 0;
}

@media (min-width: 30rem) {
  .Pagination {
    justify-content: flex-end;
    gap: 1.5rem;
  }
}
