.theme-switch {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: #663;
  font-size: 1.25rem;
  line-height: 1;
  box-shadow: 0 0 8px -2px black;
  transition-property: background-color, color;
  transition-duration: 150ms;
}

.theme-switch.theme-switch--dark {
  background-color: #006;
  box-shadow: 0 0 8px 0 white;
}

.theme-switch .light,
.theme-switch .dark {
  display: block;
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 1, 0.25, 1.5);
}

.theme-switch .light {
  text-shadow: 0 0 2px yellow;
}

.theme-switch .dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 4px white;
}

.theme-switch.theme-switch--dark .light {
  opacity: 0;
  transform: translate(-50%, 50%) scale(0.5);
}

.theme-switch:not(.theme-switch--dark) .dark {
  opacity: 0;
  transform: translate(50%, -100%) scale(0.5);
}
