.table-wrapper {
  border-radius: .5rem;
  width: 100%;
  overflow: auto;
}

.book-list {
  clear: both;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: white;
}

.book-list thead {
  background-color: #666;
  color: white;
}

/* .book-list thead .index {}
.book-list thead .title {}
.book-list thead .author {}
.book-list thead .topic {}
.book-list thead .actions {} */

.book-list thead .actions,
.book-list .row__actions {
  position: relative;
  text-align: right;
}

.book-list th {
  text-align: left;
}

.book-list th,
.book-list td {
  padding: .75rem 1rem;
}

.book-list tbody .row--empty:hover {
  background-color: white;
}

.book-list tbody .row--empty td {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  font-size: 1.5rem;
}

.book-list tbody .row {
  transition: background-color 150ms;
}

.book-list tbody .row:nth-child(even) {
  background-color: #eee;
}

.book-list tbody .row:hover {
  background-color: #ddd;
}

.book-list .row--filler {
  opacity: 0;
  visibility: hidden;
}

.book-list .row__action {
  position: absolute;
  right: 1rem;
}

.book-list .row:not(.row--confirm) input,
.book-list .row:not(.row--confirm) select {
  opacity: 0;
  visibility: hidden;
}

.book-list .row__confirm > *:nth-child(n + 1) {
  margin-left: .5rem;
}

@media (max-width: 63.9375rem) {
  .book-list td {
    white-space: nowrap;
  }
}

@media (min-width: 80rem) {
  .book-list thead .index { width: 5rem; }
  /* .book-list thead .title {} */
  .book-list thead .author { width: 20rem; }
  .book-list thead .topic { width: 16rem; }
  .book-list thead .actions { width: 16rem; }
}
