.btn {
  border: 0;
  border-radius: .25rem;
  padding: .5rem .75rem;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: 150ms;
}

.btn:hover,
.btn:focus {
  background-color: #eee;
}

.btn--primary {
  background-color: #90caf9;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: #42a5f5;
}

.btn--info {
  background-color: #29b6f6;
}

.btn--info:hover,
.btn--info:focus {
  background-color: #0288d1;
}

.btn--error {
  background-color: #f44336;
  color: white;
}

.btn--error:hover,
.btn--error:focus {
  background-color: #d32f2f;
}

.btn--warning {
  background-color: #ffa726;
}

.btn--warning:hover,
.btn--warning:focus {
  background-color: #f57c00;
}
