header {
  border-bottom: .0625rem solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

header .logo {
  text-decoration: none;
  color: black;
}

header .logo:hover {
  color: #666;
}

header h1 {
  margin: 0;
}

header .user {
  display: block;
  padding: 1rem;
  background-color: #ccc;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 150ms;
}

header .user:hover {
  background-color: #bbb;
}
